.version.d__tiffany___rarez /* version checker */
{
	color: #000003;
	background-color: #4218F2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 10px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u105-7
{
	z-index: 2;
	width: 395px;
	min-height: 86px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	left: -39px;
	position: relative;
}

#pu156
{
	width: 0.01px;
	margin-left: -39px;
}

#u156
{
	z-index: 9;
	width: 214px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u158
{
	z-index: 10;
	width: 214px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#pu200-4
{
	width: 0.01px;
	margin-left: -27px;
	margin-top: 9px;
}

#u200-4
{
	z-index: 27;
	width: 187px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u201-4
{
	z-index: 31;
	width: 187px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u184-5
{
	z-index: 12;
	width: 79px;
	min-height: 16px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	left: -5px;
	margin-top: 12px;
	position: relative;
}

#pu182
{
	width: 0.01px;
	margin-left: -23px;
	margin-top: -2px;
}

#u182
{
	z-index: 11;
	width: 90px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u185-4
{
	z-index: 17;
	width: 73px;
	min-height: 17px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 27px;
}

#pu186
{
	width: 0.01px;
	margin-left: -22px;
	margin-top: -1px;
}

#u186
{
	z-index: 21;
	width: 90px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u188-4
{
	z-index: 22;
	width: 77px;
	min-height: 18px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 18px;
}

#u185,#u188
{
	font-family: Courier New, Courier, monospace;
}

#u189
{
	z-index: 26;
	width: 90px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -23px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

