.version.index /* version checker */
{
	color: #0000E0;
	background-color: #E6CCBA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 403px;
	min-height: 198px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 32px 545px 270px 12px;
}

#u87
{
	z-index: 2;
	width: 123px;
	background-color: transparent;
	position: relative;
}

#u93-4
{
	z-index: 4;
	width: 390px;
	min-height: 16px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-family: Courier New, Courier, monospace;
	margin-left: 13px;
	margin-top: 49px;
	position: relative;
}

#u96-4
{
	z-index: 8;
	width: 343px;
	min-height: 10px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-family: Courier New, Courier, monospace;
	margin-left: 13px;
	margin-top: 4px;
	position: relative;
}

#u97-4
{
	z-index: 12;
	width: 333px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-family: Courier New, Courier, monospace;
	margin-left: 13px;
	margin-top: 4px;
	position: relative;
}

#u98-4
{
	z-index: 16;
	width: 134px;
	min-height: 11px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	font-family: Courier New, Courier, monospace;
	margin-left: 15px;
	margin-top: 24px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

