.version.juniper_systems___st /* version checker */
{
	color: #000019;
	background-color: #23D87B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 434px;
	min-height: 361px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 506px 119px 20px;
}

#u130-7
{
	z-index: 2;
	width: 299px;
	min-height: 94px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#pu160
{
	width: 0.01px;
}

#u160
{
	z-index: 10;
	width: 214px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u162
{
	z-index: 11;
	width: 214px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 220px;
}

#u133
{
	z-index: 9;
	width: 107px;
	min-height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 62px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

